//.audit
.audit {
  position: relative;
  height: 1086px;
  background: url('../img/audit/audit-bg.jpg')no-repeat center;
  //.audit__way
  &__way {
    position: absolute;
    left: -9px;
    bottom: 138px;
  }
  //.audit__block
  &__block {
    position: absolute;
    background: url('../img/audit/audit-elipse.png')no-repeat bottom right;
    //.audit__wrapper
    &__wrapper {
      width: 100%;
      height: 100%;
    }
    //.audit__block-title
    &-title {
      font-weight: 600;
      font-size: 21px;
      line-height: 25px;
      color: #FAFAFA;
      //.audit__block-title--yellow
      &--yellow {
        font-family: $secondary-family;
        font-weight: 700;
        font-size: 35px;
        line-height: 150%;
        color: #FFD752;
      }
    }
    //.audit__block--top
    &--top {
      top: 43px;
      left: 512px;
      width: 358px;
      height: 82px;
      text-align: center;
      padding-right: 94px;
      & .audit__block-title {
        max-width: 264px;
      }
    }
  }
}