//.catalog
.catalog {
  //.catalog__wrapper
  &__wrapper {
    padding: 120px 0;
  }
  //.catalog__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px 32px;
  }
  //.catalog__item
  &__item {
    max-width: 480px;
    background: #FAFAFA;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    //.catalog__item-content
    &-content {
      padding: 0 22px 44px 22px;
    }
    //.catalog__item-head
    &-head {
      margin-bottom: 32px;
      max-height: 287px;
      background: url('../img/catalog/catalog-yellow.png')no-repeat bottom right;
    }
    //.catalog__item-title
    &-title {
      font-weight: 600;
      font-size: 35px;
      line-height: 41px;
      margin-bottom: 38px;
    }
    //.catalog__item-text
    &-text {
      font-size: 21px;
      line-height: 25px;
      margin-bottom: 38px;
      min-height: 75px;
    }
    //.catalog__item-price
    &-price {
      display: block;
      font-family: $secondary-family;
      font-weight: 600;
      font-size: 32px;
      line-height: 39px;
      text-align: center;
      margin-bottom: 27px;
    }
    //.catalog__item-button
    &-button {
      font-weight: 600;
      line-height: 150%;
      padding: 20px 35px;
      border: 2px solid #FFD752;
      border-radius: 10px;
      max-width: 175px;
      margin: 0 auto;
      //.catalog__item-button:hover
      &:hover {
        border-color: transparent;
        background:
          linear-gradient(262.02deg, rgba(242, 213, 65, 0.8) 3.53%, rgba(255, 236, 88, 0.8) 100%)padding-box,
          linear-gradient(to left, #FDE465, #DCBF2B) border-box;
        box-shadow: -4px -4px 5px rgba(255, 255, 255, 0.7), 4px 4px 6px rgba(0, 0, 0, 0.2);
      }
    }
  }
}